/* It works when the following condition is met */
@media (max-width: 10px) {
  body {
    background-color: lightblue;
  }
}

.sidebar {
  width: 280px;
  height: 100vh;
  position: fixed; /* Sidebar remains fixed */
  top: 0;
  left: 0;
  padding: 20px 0;
  overflow-y: auto; /* Scroll if the content is long */
  background-color: #f4f4f4;
}
.sidebar-header {
  position: sticky; /* To stay steady*/
  top: 0;
  padding: 20px 20px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  z-index: 10; /* To make it appear on top */
  background-color: #f4f4f4;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 8px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background 0.3s ease;
}

main {
  margin-left: 280px; /* Sidebar width + space */
  padding: 20px;
}
.code {
  background-color: #dddd;
  padding: 20px;
}

header {
  font-size: 30px;
}
