:root {
  --color-f4: #f4f4f4;
  --color-lightblue: lightblue;
  --color-black: black;
  --color-gray: rgb(77, 78, 83);
  --color-code: #eb5757;
  --color-pre: rgb(247, 246, 243);
}

body {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.6;
  margin: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.sidebar {
  width: 280px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  overflow-y: auto; /* Scroll if the content is long */
  background-color: var(--color-f4);
  padding-top: 80px;
  padding-bottom: 20px;
}

.sidebar header {
  position: fixed; /* To stay steady */
  top: 0;
  left: 0;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color: var(--color-f4);
  width: 280px;
  box-sizing: border-box;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: var(--color-black);
  padding: 8px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.sidebar a:hover {
  background-color: var(--color-lightblue);
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  padding-bottom: 100px;
}

main {
  margin-left: 280px; /* Sidebar width */
  padding: 20px;
}

.main-section header {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Inter", system-ui, sans-serif;
  font-weight: 600;
}
.main-section p {
  color: var(--color-gray);
}

pre {
  color: var(--color-code);
  padding: px;
  overflow-x: auto;
  display: inline-block; /* expands only according to content */
  vertical-align: middle;
}

code {
  display: inline-block;
  background-color: var(--color-pre);
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    top: 0;
  }
  .sidebar header {
    position: static;
    width: 100%;
  }
  main {
    margin-left: 0;
  }
}
